body {
    background-color: rgb(230, 247, 247);
}

.menu {
    display: flex;
    gap: 2rem;
    float: right;
}

.menu li {
    list-style-type: none;
   text-transform: uppercase;
   text-decoration: none;
}

h1 {
    font-size: 5rem;
    padding: 2rem;
}